/* 
---- Color:
    - Primary: #e67e22
    - Tint: 
    - background: #fae5d3
    - shades: 

    grey: #555



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 400;
  color: #555;
}

.section_hero {
  background-color: #fae5d3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.6rem;
}

.hero_title {
  font-size: 4.8rem;
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: -1px;
}

.hero_description {
  line-height: 1.4;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
}

.btn_full {
  background-color: #e67e22;
  color: #fff;
}

.btn_full:hover,
.btn_full:active {
  background-color: #cf711f;
  transition: all 0.5s;
  cursor: pointer;
}

.hero_img {
  width: 100%;
}
