/* 
---- Color:
    - Primary: #e67e22
    - Tint: 
    - background: #fae5d3
    - shades: 

    grey: #555



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 400;
  color: #555;
}

.section_hero {
  background-color: #fae5d3;
}

.hero {
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.6rem;
}

.hero_title {
  font-size: 4.8rem;
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: -1px;
}

.hero_description {
  line-height: 1.4;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}

.hero_img {
  width: 100%;
}
