<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Challenge</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section>
        <h1>Here is the product details</h1>
        <div class="container">
            <article>
                <img class="product__img"
                    src="https://png.pngtree.com/png-vector/20230501/ourmid/pngtree-sneakers-running-shoes-color-png-image_7078201.png"
                    alt="Shoe for men">
                <div class="product__details">
                    <div class="price__div">
                        <p class="price"><strong>$ 65.00</strong></p>
                        <p class="free__shipping">Free shipping</p>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, tempore.lorem ipsum dolor
                    </p>

                    <button class="info__button">More info &rarr;</button>

                    <div class="color__group">
                        <p style="background-color: greenyellow" class="color__box"></p>
                        <p style="background-color: red" class="color__box"></p>
                        <p style="background-color: blue" class="color__box"></p>
                        <p style="background-color: black" class="color__box"></p>
                        <p style="background-color: orange" class="color__box"></p>
                        <p style="background-color: green" class="color__box"></p>
                    </div>
                </div>
            </article>
            <aside>
                <h5>PRODUCT DETAILS</h5>
                <ul>
                    <li>Light weight, durable canvas sneakers.</li>
                    <li>Lightly padded foot area for comfort.</li>
                    <li>Comfortable, breathable mesh upper.</li>
                    <li>The perfect blend of style and function.</li>
                </ul>
            </aside>
        </div>
        <button class="cart__btn">ADD TO CART</button>
    </section>
</body>

</html>