<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Challenge</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section>
        <h1>Here is the product details</h1>
        <article>
            <img src="https://png.pngtree.com/png-vector/20230501/ourmid/pngtree-sneakers-running-shoes-color-png-image_7078201.png"
                alt="Shoe for men">

            <div>
                <h4>$ 65.00</h4>
                <p>Free shipping</p>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, tempore.lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Tenetur, tempore.lorem</p>

            <button class="info__button">More info &rarr;</button>

            <div class="color__group">
                <p class="color__box"></p>
                <p class="color__box"></p>
                <p class="color__box"></p>
                <p class="color__box"></p>
                <p class="color__box"></p>
                <p class="color__box"></p>
            </div>
        </article>
        <aside>
            <h5>PRODUCT DETAILS</h5>
            <ul>
                <li>Light weight, durable canvas sneakers.</li>
                <li>Lightly padded foot area for comfort and support.</li>
                <li>Comfortable, breathable mesh upper with a durable rubber outsole.</li>
                <li>The perfect blend of style and function in a lightweight, comfortable design.</li>
            </ul>
        </aside>
        <button class="cart__btn">ADD TO CART</button>
    </section>
</body>

</html>